<h1>Question</h1>


<table>
  <thead>
    <tr>
      <th>Question</th>
    </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.question %></td>
      <td>
        <%= link_to "Show", show_question_path(question) %>
        <%= link_to "Edit", edit_question_path(question) %>
        <%= link_to "Delete", question, method: :destroy %>

    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Add Question", new_question_path %>
