
<div id="question">
  <h2><%= @question.question %></h2>
  <p id="notice"><%= notice %></p>
  <!-- <p>
    <b>Description:</b>
    <%= @question.question %>
  </p> -->

  <p>
    <b>Answer:</b>
    <%= @question.answer %>
  </p>
</div>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', question_index_path %>
